# Python
__pycache__/
*.py[cod]
.venv/
venv/

# LaTeX - archivos de compilación del informe
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lol
*.lot
*.log
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc

# Editores
.idea/
.vscode/
*.swp

# Sistema operativo
.DS_Store
desktop.ini
